<div ng-cloak id="cards-container" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="cards" class='hand'>
    <span ng-show="winnerPicked()"></span>
    <div ng-style="{'cursor':'pointer'}" class="answerCard" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
      ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
      <span ng-bind-html="card.text"></span>
      <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
      <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
    </div>
    <span ng-repeat="answer in game.table">
      <div class="answerCard" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="background-color:{{winningColor($parent.$index)}}">
        <span ng-bind-html="card.text"></span>
    <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
    <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
  </div>
  </span>
</div>

</div>
</div>


<div id="czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <div id="czar-blank-inner" class="center">
    You are the Card Czar. <br>
    <span id="smaller-text">Players are choosing their answers. Prepare to select a winner.</span>
  </div>
  <div id='charity-fact-container'>
    <div id='charity-fact-tagline'>
      <p>Did you know?</p>
    </div>

    <div id='charity-fact'>
      <p>{{ makeAWishFact }}</p>
    </div>

    <div id='charity-logo-container'>
      <img src='/img/make-a-wish-logo1.png' id="make-a-wish" />
    </div>

  </div>
</div>