</script>
<div id="app-container" ng-controller="GameController">
  <div class="navbar-fixed">
    <nav class="navbar-fixed nav-color main-navigation" role="navigation" id="game-nav">
      <div class="nav-wrapper">
        <a id="logo-container" href="#" class="brand-logo  white-text">
            <span id="first-word">Cards</span>
            <span id="second-word"> for</span>
            <span id="third-word">Humanity</span>
          </a>
        <ul class="right hide-on-med-and-down main-navigation">

          <li><a href="#!/donate">Donate</a></li>
          <li><button class="waves-effect waves-light btn" id='abandon-game-button' ng-click="abandonGame()">Abandon Game</button></li>
          <li>
            <button id="tweet-container" href="https://twitter.com/share" class="waves-effect waves-light btn" data-url="http://cfh.io"
              data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App"><i class="fa fa-twitter left" aria-hidden="true"></i>Tweet</button>
          </li>
        </ul>
        <ul id="nav-mobile" class="side-nav grey darken-4 white-text">
          <li><a href="#!/donate">Donate</a></li>
          <li><a id='abandon-game-button' ng-click="abandonGame()">Abandon Game</a></li>
          <li>
            <button id="tweet-container" href="https://twitter.com/share" class="waves-effect waves-light btn" data-url="http://cfh.io"
              data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App"><i class="fa fa-twitter left" aria-hidden="true"></i>Tweet</button>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse text-darken-4 grey-text"><i class="material-icons white-text">menu</i></a>
      </div>
    </nav>
  </div>
  <div class="container ">
    <div id="gameplay-container">
      <div id="upper-gameplay-container">
        <div class="row">
          <div id="menu-timeremaining-container">
            <div id="timer-container" class="col l3 m3">
              <timer></timer>
            </div>
            <div id="question-container-outer" class="col l6 m6">
              <question></question>
            </div>
            <div id="social-bar-container" class="col l3 m3 scrollable">
              <player></player>
            </div>
          </div>
        </div>
        <answers></answers>
      </div>
    </div>
  </div>
</div>
<div class="chatbox">
  <div class="chat-header">
    <h5>ChatBox<span id="chatCount"></span>
      <fa class="fa-chevron-down fa" id="endChat"></fa>
      <fa class="fa-chevron-up fa" id="startChat"></fa>
    </h5>
  </div>
  <div class="chat-content" id="chatContent">
    <div id="chatInner" chatbox>
      <div class="chat-begin">This is the beginning of the game's chat</div>
    </div>
  </div>
  <div class="input-field message-area">
    <input type="text" class="form-control" id="chatInput" placeholder="Type a message and press enter...">
  </div>
</div>