<div ng-show="selected">
  <div class="no-data dashboard" ng-show="leaderboard.length === 0">

    No leader board yet.
  </div>
  <div class="dashboard" ng-show="leaderboard.length>0">
    <table class="highlight bordered centered">
      <thead>
        <tr>
          <th> Rank </th>
          <th> Player </th>
          <th> Number of Wins </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="name in leaderboard">
          {{console.log(name.$key)}}
          <td> {{$index + 1}} </td>
          <td> {{name.name}} </td>
          <td> {{name.frequency}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>