<div id="player-container" ng-repeat="player in game.players" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <div class="row">
    <div id="above-czar-container" class="col m3">
      <div id="avatar">
        <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
        <img ng-src="{{player.avatar}}" id="player-avatar" class="responsive-img" />
      </div>
    </div>
    <div class="col m9" id="name-czar">
      <div>
        <div id=" player-container-inner ">
          <div id="player-name ">
            <h4 id="player-name-inner">{{player.username | upperFirstLetter}}</h4>
          </div>
          <div id="player-score " class="col m6">
            <h2 id="player-score-inner">{{player.points}}/{{game.pointLimit}}</h2>
          </div>
          <div ng-show="isPlayer($index) " id="player-star " class="col m3">
            <img src="../img/11.png " class="responsive-img" id="isPlayer" />
            <span ng-if="!isPlayerSet && isPlayer($index)">{{setPlayer(player.avatar, player.username)}}</span>
          </div>
          <div id="czar-container " ng-show="currentCzar($index) " class="col m3">
            <p id='the-czar'>CZAR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="charity-widget-container" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
  <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
</div>