<div id="question-container-inner">
  <div class="card longBlack">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>
    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>
    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players</div>
      <div id="player-count-container">
        <div id="player-count">{{game.players.length}} / 6 </div>
        <div id="the-word-players"> Players </div>
      </div>
      <div id="loading-container">
        <div id="loading-gif"><img ng-src="../img/loader.gif"/></div>
      </div>
      <div id="start-game-container" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= game.playerMinLimit">
        <div id='start-game-button'>
          Start Game</br>with {{game.players.length}} players
        </div>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>

<!-- Materialize-CSS Modal Trigger -->
  <div ng-controller="InviteController">
    <a class="waves-effect waves-light btn" style="background-color: #236484" ng-click="openModal()">Invite Players</a>
  <!-- Modal Structure -->
  <div class="modal modal-fixed-footer" ng-style="myObj" id="exampleModal">
    <div class="modal-content">
      <h4>Send Invites</h4>
      <div ng-if="emailSentNotif" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">
        <p>{{emailSentNotif}}</p>
        </div>
        <div class="row">
          <input type="text" ng-model="searchUsers" ng-style="myObj" ng-keyup="findUsers()" placeholder="Search for users here..." class="col m9"/>&nbsp;
          <button class="waves-effect waves-light btn col m2 pull-right" style="background-color: #236484" type="submit" ng-click="sendMail()">INVITE</button>
        </div>
        <div ng-repeat="names in invitedEmailList" class="chip">
          {{names}}
           <i ng-click="deleteUser(names)" class="close material-icons" data-dismiss="chip">x</i>
        </div>
        <div ng-if="noUserMatch">
            <p>
              {{noUserMatch}}
            </p>
        </div>
        <div  class="collection" ng-if="searchResult.length > 0">
        <p ng-style="searchNamesObj" class="collection-item" ng-repeat="result in searchResult" >
            {{result.name}}
          <button class="btn-floating waves-effect" ng-style="btnObj" id="{{getUserId(result.email)}}" type= "submit" ng-disabled="existingUser(result)"  ng-click="isUserInInviteeList(result)" style="margin: auto; float: right; margin-right:20px; margin-top:-5%;"><i class="material-icons">+</i></button>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-light-blue darken-3 btn-flat" data-dismiss="modal">Close</a>
    </div>
  </div>
<!---->


