<div class="auth-container" ng-controller="IndexController">
  <nav class="navbar-fixed nav-color main-navigation" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo  white-text">
        <span id="first-word">Cards</span>
        <span id="second-word"> for</span>
        <span id="third-word">Humanity</span>
      </a>
      <ul class="right hide-on-med-and-down main-navigation">
        <li><a onClick="scroll(0,0)">Home</a></li>
        <li><a onClick="scroll(0,742);">How to Play</a></li>
        <li><a onClick="scroll(0,1411);">Charity</a></li>
        <li><a onClick="scroll(0,2021);">About Us</a></li>
        <span ng-show="showOptions">
          <li><a href="#!/signup">Sign Up</a></li>
          <li><a href="#!/signin">Sign In</a></li>
          </span>
        <span ng-hide="showOptions">
            <li><a href="/signout">Sign Out</a></li>
          </span>
      </ul>
      <ul id="nav-mobile" class="side-nav grey darken-4 white-text">
        <li><a onClick="scroll(0,0)">Home</a></li>
        <li><a onClick="scroll(0,742);">How to Play</a></li>
        <li><a onClick="scroll(0,1411);">Charity</a></li>
        <li><a onClick="scroll(0,2021);">About Us</a></li>
        <span ng-show="showOptions">
          <li><a href="#!/signup">Sign Up</a></li>
          <li><a href="#!/signin">Sign In</a></li>
        </span>
        <span ng-hide="showOptions">
            <li><a href="/signout">Sign Out</a></li>
          </span>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse text-darken-4 grey-text"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>

  <!-- Fixed Logo & Nav Bar End -->

  <!-- Sign Up Start -->
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3 main signup-main center">
        <div class="row">
          <div class="col s6 offset-s3 header-text signup-header-text">
            <h2>SIGN UP</h2>
            <p> Signing up is super easy! Sign up with your email and password</p>
          </div>
          <br clear="all">
          <hr>
        </div>
        <div class="row">
          <form class="col s8 offset-s2 center form-style" method="post">
            <div class="input-field col s12">
              <input id="name" name="name" type="text" required novalidate placeholder="Full Name*" class="placeholder-text" ng-model="fullname">
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" name="email" class="placeholder-text" required novalidate ng-model="email" placeholder="Email*">
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" required name="password" ng-model="password" placeholder="Password*">
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" required placeholder="Confirm Password*">
            </div>
            <div class="row">
              <div class="col s12 center">
                <div class="col s8 center header-text">
                  <p>
                    Select Avatar:
                  </p>
                </div>
                <br clear="all">
                <div>
                  <ul class="avatar-list">
                    <li ng-repeat="avatar in avatars" class="col s2 input-radio-style ng-scope">
                      <input name="avatar" type='radio' value="{{$index}}" id="{{$index}}">
                      <label for="{{$index}}"><img width="25" height="25" ng-src="{{avatar}}"></label>
                      </input>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s6 offset-s3 center">
              <button type="submit" class="submit btn signin-button" ng-click="signup()">SIGN UP</button>
            </div>
          </form>
        </div>
        <hr>
        <div class="row">
          <div class="col s6 offset-s3 header-text">
            <p>
              or sign up with one of these services
            </p>
          </div>
          <div class="col s10 offset-s2">
            <a href="/auth/github" class="col s5 waves-effect waves-light btn btn-soc social github" style="width: 41.6666666667% !important;">
              <i class="fa fa-github"></i>Github
            </a>
            <a href="/auth/google" class="col s5 waves-effect waves-light btn btn-soc social google" style="width: 41.6666666667% !important;">
              <i class="fa fa-google"></i> Google
            </a>

            <a href="/auth/twitter" class="col s6 waves-effect waves-light btn btn-soc social twitter" style="width: 41.6666666667% !important;">
              <i class="fa fa-twitter"></i> Twitter
            </a>
            <a href="/auth/facebook" class="col s6 waves-effect waves-light btn btn-soc social facebook" style="width: 41.6666666667% !important;">
              <i class="fa fa-facebook"></i>Facebook
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
  <!-- /container -->
</div>