<div class="auth-container" ng-controller="IndexController">
  <nav class="navbar-fixed nav-color main-navigation" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo  white-text">
        <span id="first-word">Cards</span>
        <span id="second-word"> for</span>
        <span id="third-word">Humanity</span>
      </a>
      <ul class="right hide-on-med-and-down main-navigation">
        <li><a onClick="scroll(0,0)">Home</a></li>
        <li><a onClick="scroll(0,742);">How to Play</a></li>
        <li><a onClick="scroll(0,1411);">Charity</a></li>
        <li><a onClick="scroll(0,2021);">About Us</a></li>
        <li><a href="#!/signup">Sign Up</a></li>
        <li><a href="#!/signin">Sign In</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav grey darken-4 white-text">
        <li><a onClick="scroll(0,0)">Home</a></li>
        <li><a onClick="scroll(0,742);">How to Play</a></li>
        <li><a onClick="scroll(0,1411);">Charity</a></li>
        <li><a onClick="scroll(0,2021);">About Us</a></li>
        <li><a href="#!/signup">Sign Up</a></li>
        <li><a href="#!/signin">Sign In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse text-darken-4 grey-text"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>
  <!-- Sign Up Start -->
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3 main signup-main center">
        <div class="row">
          <div class="col s6 offset-s3 auth-header header-text signup-header-text">
            <h4>SIGN UP</h4>
            <p> Signing up is super easy!</p>
          </div>
          <br clear="all">
          <hr class="kiba-hr">
        </div>
        <div class="row">
          <div class="sign-error">
            {{errorMsg}}
          </div>
          <form class="col s10 offset-s1 center form-style" method="post">
            <div class="input-field col s6">
              <input id="name" name="name" type="text" required novalidate placeholder="Full Name*" class="auth-input" ng-model="fullname">
            </div>
            <div class="input-field col s6">
              <input id="email" type="email" name="email" class="auth-input" required novalidate ng-model="email" placeholder="Email*">
            </div>
            <div class="input-field col s6">
              <input id="password" type="password" class="auth-input" required name="password" ng-model="password" placeholder="Password*">

            </div>
            <div class="input-field col s6">
              <input id="password" type="password" class="auth-input" required placeholder="Confirm Password*">
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col s12 center">
                  <div class="col s8 center header-text">
                    <p>
                      Select Avatar:
                    </p>
                  </div>
                  <br clear="all">
                  <div class="col s12">
                    <ul>
                      <li ng-repeat="avatar in avatars" class="col s1 input-radio-style ng-scope">
                        <input name="avatar" type='radio' value="{{$index}}" id="{{$index}}" />
                        <label for="{{$index}}"><img width="25" height="25" ng-src="{{avatar}}"></label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col s6 offset-s3 center">
                <button type="submit" class="submit btn signin-button" ng-click="signup()">SIGN UP</button>
              </div>
          </form>
          </div>
          <hr class="kiba-hr">
          <div class="row">
            <div class="col s6 offset-s3 header-text">
              <p>
                You can sign up with one of these services
              </p>
            </div>
            <div class="col s10 offset-s1">
              <a href="/auth/github" class="col s5 waves-effect waves-light btn btn-soc social github" style="width: 41.6666666667% !important;">
              <i class="fa fa-github"></i>Github
            </a>
              <a href="/auth/google" class="col s5 waves-effect waves-light btn btn-soc social google" style="width: 41.6666666667% !important;">
              <i class="fa fa-google"></i> Google
            </a>

              <a href="/auth/twitter" class="col s5 waves-effect waves-light btn btn-soc social twitter" style="width: 41.6666666667% !important;">
              <i class="fa fa-twitter"></i> Twitter
            </a>
              <a href="/auth/facebook" class="col s5 waves-effect waves-light btn btn-soc social facebook" style="width: 41.6666666667% !important;">
              <i class="fa fa-facebook"></i>Facebook
            </a>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
    </div>
    <!-- /Landing Start container -->
  </div>
  <!-- /auth-container -->