<div class="auth-container" ng-controller="IndexController">
  <nav class="kiba-nav navbar-fixed nav-color main-navigation" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo  white-text">
        <span id="first-word">Cards</span>
        <span id="second-word"> for</span>
        <span id="third-word">Humanity</span>
      </a>
      <ul class="right hide-on-med-and-down main-navigation">
        <li><a onClick="scroll(0,0)">Home</a></li>
        <li><a onClick="scroll(0,742);">How to Play</a></li>
        <li><a onClick="scroll(0,1411);">Charity</a></li>
        <li><a onClick="scroll(0,2021);">About Us</a></li>
        <span ng-show="showOptions">
          <li><a href="#!/signup">Sign Up</a></li>
          <li><a href="#!/signin">Sign In</a></li>
          </span>
        <span ng-hide="showOptions">
            <li><a href="/signout">Sign Out</a></li>
          </span>
      </ul>
      <ul id="nav-mobile" class="side-nav grey darken-4 white-text">
        <li><a onClick="scroll(0,0)">Home</a></li>
        <li><a onClick="scroll(0,742);">How to Play</a></li>
        <li><a onClick="scroll(0,1411);">Charity</a></li>
        <li><a onClick="scroll(0,2021);">About Us</a></li>
        <span ng-show="showOptions">
          <li><a href="#!/signup">Sign Up</a></li>
          <li><a href="#!/signin">Sign In</a></li>
        </span>
        <span ng-hide="showOptions">
            <li><a href="/signout">Sign Out</a></li>
          </span>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse text-darken-4 grey-text"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>

<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3 main center">
        <div class="row">
          <div class="col s6 offset-s3 header-text">
            <h2>SIGN IN</h2>
            <p> Sign Into Your Account</p>
          </div>
          <br clear="all">
          <hr>
        </div>
        <div class="row">
          <form class="col s8 offset-s2 center form-style" method="post">
            <div class="input-field col s12">
              <input id="email" type="email" class="placeholder-text" ng-model="email"
              required novalidate placeholder="Email*">
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="placeholder-text" ng-model="password"
                required novalidate placeholder="Password*">
            </div>
            <div class="col s6 offset-s3 center">
              <button type="submit" class="submit btn signin-button" ng-click="login()">SIGN IN</button>
            </div>
          </form>
        </div>
        <hr>
        <div class="row">
          <div class="col s6 offset-s3 header-text">
            <p>
              or sign in with one of these services
            </p>
          </div>
          <div class="col s10 offset-s2">
            <a href="/auth/github" class="col s5 waves-effect waves-light btn btn-soc social github">
              <i class="fa fa-github"></i>Github
            </a>
            <a href="/auth/google" class="col s5 waves-effect waves-light btn btn-soc social google">
              <i class="fa fa-google"></i> Google
            </a>

            <a href="/auth/twitter" class="col s5 waves-effect waves-light btn btn-soc social twitter">
              <i class="fa fa-twitter"></i> Twitter
            </a>
            <a href="/auth/facebook" class="col s5 waves-effect waves-light btn btn-soc social facebook">
              <i class="fa fa-facebook"></i>Facebook
            </a>
          </div>
        </div>
      </div>
    </div>   <!--/row-->
  </div>    <!-- /container -->
</div>

