.chatbox {
  width: 254px;
  position: fixed;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  bottom: 10px;
  right: 10px;
  z-index: 1003;
  margin-right: 33px !important;
  border-radius: 5px;
}
.chatbox .chat-header {
  background-color: #F37B1F;
  padding: 6px 15px;
  color: #EEEEEE;
  max-height: 50px;
  border-radius: 5px;
}
.chatbox .chat-header h3 {
  display: inline-block;
  margin: 0;
}
.chatbox .chat-header .fa {
  float: right;
  font-size: 25px;
  cursor: pointer;
}
.chatbox .chat-header .fa-chevron-down {
  display: none;
}
.chatbox .chat-content {
  padding: 15px 5px;
  max-height: 150px;
  overflow: auto;
  display: none;
}
.chatbox .chat .chat-meta {
  display: block;
  margin-left: 5px;
  font-size: 14px;
}
.chatbox .chat .chat-meta img {
  float: left;
  width: 50px;
  margin-right: 15px;
}
.chatbox .chat .chat-message {
  display: inline-block;
  margin: 5px 0px 20px 20px;
  background-color: #EEEEEE;
  padding: 5px;
}
.chatbox .chat-header .fa-chevron-down,
.chatbox .chat-header .fa-chevron-up {
  float: right;
  font-size: 18px;
  cursor: pointer;
}
 #chatInner .emojioneemoji{
   width: 25px;
 }
 .send-message {
    padding-bottom: 5px;
 }
 .chatbox .chat-begin{
   font-size: 14px;
   color: #2D3352;
   margin-bottom: 6px;
 }
.chatbox .chat-header .fa-chevron-down {
  display: none;
}
.chatbox .chat .chat-message {
  display: inline-block;
  margin: 5px 0px 20px 20px;
  background-color: #EEEEEE;
  padding: 5px;
}
.chat-message{
  margin-left: 0px !important;
}
#chatCount{
  background-color:#EA212E;
  font-size: 8px;
  color: white;
  border-radius: 100%;
  padding: 5px;
  display: none;
  margin-left: 6px;
  position: relative;
  bottom: 10px;
}
#chatInput{
  background-color: #f1f1f1 !important;
  padding: 0px 1px !important;
}
.emojionearea.emojionearea-inline {
    height: 34px;
    border-radius: 5px !important;
}
Add Comment Collapse



