.kibadropdown {
  width:30px;
  margin-right:20px;
  display: inline-block;
  margin-bottom: 0px !important;
}

.kibadropdown-content {
  width:300px !important;
  margin-left: -200px;
  background: #fff;
  margin-top: -15px;
  display: none;
}

.kibajoin{
  color: black;
  font-size: 12px !important;
}

.kibadropdown:hover .kibadropdown-content {
  display: block;
}

.kibadropbtn{
  margin-bottom: -80px;
}

#notificationCount{
  background-color: red;
  font-size: 10px;
  color: white;
  border-radius: 100%;
  padding: 4px;
  margin-left: 12px;
  position: relative;
  top: -73px;
  margin-bottom: 0px;
}
